
.topMenu{
    --background: #005aaa;
    --color: #fff;
    text-align: center;
}
.logo{
    text-align: center;
    width: 220px;
    margin: 10px auto
}
.btnLoging{
    --background: #005aaa;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      --color: #fff !important;
      margin-top: -6px
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
  .imgCards{
    box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
  } 
  .text1{
      text-align: justify;
      font-size: 16px;
     padding: 20px;
      
  }
  .text2{
    text-align:center;
    font-size: 16px;
    margin-top: -20px;
}
  .card-content-ios {
     padding-left: 0px;
    padding-right: 0px;
  }
  ion-content{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .colorF{
    color: var(--ion-color-primary);;
  }
  .colorCards{
    --background: #32afcc;
  }
  ion-card-header{
    padding: 10px;
    text-align: center;
  }
  ion-card-subtitle{
    color: #fff;
  }
  hr{
    background-color: #fff;
  }