<ion-header >
  <ion-toolbar class="topMenu" >
      <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="" padding>
<div class="logo">
      <img src="assets/img/logosummitnegro.png" alt="Logo del banco de ficohsa" > 
        
    </div>

    <ion-list>
<p class="text1">¡Bienvenido(a), a la experiencia de <strong class="colorF">Summit Tickets</strong> desde ahora puedes generar
   tu ticket virtual para ser atendido en nuestras agencias a nivel nacional!</p>
    </ion-list>

    <br> <br>
 <ion-button class="btnLoging" expand="block" (click)="login()">Continuar<ion-icon name="log-in"></ion-icon></ion-button>
</ion-content>
