<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="/agencies"></ion-back-button>
    </ion-buttons>
    <ion-title>Agencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <div id="container">
    <ion-icon name="locate" id="location" (click)="locateMe()"></ion-icon>
    <ion-button *ngIf="bestOptionsAgencies.length!=0" shape="round" id="button" class="slide-bck-bottom" (click)="showAgencies()">Ver Agencias</ion-button>
    <div id="slider-container" class="scale-down-ver-bottom">
      <ion-slides [options]="sliderConfig()" id="slides" #slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let agency of bestOptionsAgencies" class="slide">
          <ion-card class="ion-no-margin ion-text-left card">
            <ion-card-header class="ion-no-padding">
              <ion-card-subtitle class="card-subtitle">{{agency.distance}}Km</ion-card-subtitle>
              <ion-card-title class="card-title">{{agency.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <p>Clientes en espera por area.</p>
              <p>Caja: {{agency.customersWaitingInCaja}}</p>
              <p>Servicio: {{agency.customersWaitingInServicio}}</p>
              <p>Negocio: {{agency.customersWaitingInNegocio}}</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>