ion-content {
	#map {
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 150ms ease-in;
		display: block;
		&.show-map {
			opacity: 1;
		}
	}

	#slider-container{
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 30%;
		background-color: green;
	}

	#slides{

	}
}

ion-header {
	.topMenu {
		--background: #125eab;
		--color: #fff;
		text-align: center;
	}
}
