<ion-header>
  <ion-toolbar class="topMenu">
    <ion-title>Summit Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="" padding>
  <div class="logo">
    <img src="assets/img/logosummitnegro.png" alt="Logo del banco de ficohsa">

  </div>
  <div>
    <p class="text1">
       Hola {{userName}}, bienvenido(a) a <Strong class="colorF"> Summit Tickets</Strong>, puedes proceder a
      seleccionar la agencia que deseas visitar.
    </p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <p class="text2">Seleccione una opción: </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="openOffices()">
          <ion-card class="colorCards">
            <ion-card-header>
              <ion-card-subtitle><strong>Agencia de mi preferencia</strong></ion-card-subtitle>
              <hr>
            </ion-card-header>
            <ion-card-content style="
              text-align: center;">
             <img style="padding: 5px;" src="assets/img/ag1.png" />
            </ion-card-content>
          </ion-card>

        </div>
      </ion-col>
      <ion-col>
        <div routerLink="/agencies-maps">
          <ion-card class="colorCards">
            <ion-card-header>
              <ion-card-subtitle><strong>Agencia por ubicación</strong></ion-card-subtitle>
              <hr>
            </ion-card-header>
            <ion-card-content style="
                text-align: center;">
              <img style="padding: 5px;" src="assets/img/m02.png" />
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br> <br>
  <!--<ion-button class="btnLoging" expand="block" (click)="login()">Continuar<ion-icon name="log-in"></ion-icon></ion-button>-->
</ion-content>