<ion-header>
 <ion-toolbar class="topMenu">
  <ion-title id="title1Agencies2">
   Tickets Caja Ande
  </ion-title>
 </ion-toolbar>
</ion-header>
<ion-content class="" padding="">
 <div class="logo">
  <img alt="Logo del banco de ficohsa" id="logoAagencies2" src="assets/img/logoA.png"/>
 </div>
 <div>
  <p class="text1">
   Hola {{userName}}, bienvenido(a) a
   <span id="title2Agencies2">
    <strong class="colorF">
     Tickets Caja Ande
    </strong>
   </span>
   , puedes proceder a
      seleccionar la agencia que deseas visitar.
  </p>
 </div>
 <ion-grid>
  <ion-row>
   <ion-col>
    <div>
     <p class="text2">
      Seleccione una opción:
     </p>
    </div>
   </ion-col>
  </ion-row>
  <ion-row>
   <ion-col>
    <div (click)="openOffices()">
     <ion-card class="colorCards">
      <ion-card-header>
       <ion-card-subtitle>
        <strong>
         Agencia de mi preferencia
        </strong>
       </ion-card-subtitle>
       <hr/>
      </ion-card-header>
      <ion-card-content style="
              text-align: center;">
       <img src="assets/img/ag1.png" style="padding: 5px;">
       </img>
      </ion-card-content>
     </ion-card>
    </div>
   </ion-col>
   <ion-col>
    <div routerlink="/agencies-maps">
     <ion-card class="colorCards">
      <ion-card-header>
       <ion-card-subtitle>
        <strong>
         Agencia por ubicación
        </strong>
       </ion-card-subtitle>
       <hr/>
      </ion-card-header>
      <ion-card-content style="
                text-align: center;">
       <img src="assets/img/m02.png" style="padding: 5px;"/>
      </ion-card-content>
     </ion-card>
    </div>
   </ion-col>
  </ion-row>
 </ion-grid>
 <br/>
 <br/>
 <!--<ion-button class="btnLoging" expand="block" (click)="login()">Continuar<ion-icon name="log-in"></ion-icon></ion-button>-->
</ion-content>