
<ion-header >
    <ion-toolbar class="topMenu" >
        <ion-title>Summit Tickets</ion-title>
      </ion-toolbar>
</ion-header>
 
<ion-content @fadein  padding>
  <div class="logo">
        <img src="assets/img/logosummitnegro.png" alt="Logo del banco de ficohsa" > 
          
      </div>
      <p class="text1">Asegúrate de digitar correctamente tu número 
        de identificación para que puedas gozar de tus beneficios.
      </p>
      <form [formGroup]="myForm" >
      <ion-list class="line-input">
        <ion-item>
          <ion-icon class="iconP" name="person" slot="end"></ion-icon>
          <ion-label position="floating">Tarjeta de identidad:</ion-label>
          <ion-input formControlName="cedula" type="text" [(ngModel)]="cedula" 
          pattern="^(?=.{9}$)(([0-9])\2?(?!\2{3}))+$" clearInput>
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.cedula">
            <div class="error-message" *ngIf="myForm.get('cedula').hasError(validation.type)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-list>
      
      <br> <br>
   <ion-button class="btnLoging" expand="block" [disabled]="!myForm.valid" (click)="login()">Continuar<ion-icon name="log-in"></ion-icon></ion-button>
  </form>
  <br>

   <div class="">
    <ion-slides *ngIf="images && images.length" pager="true" [options]="slideOpts">
      <ion-slide *ngFor='let img of images' >
        <a [href]="img.Link">
          <img [src]="img.FileData" alt="">
        </a>
      </ion-slide>
    </ion-slides> 
  </div>
  <!--<div (click)="link()" class="">
  
  <ion-slides pager="true"  [options]="slideOpts">
<ion-slide *ngFor='let slide of slides' >
<img [src]="slide.img" alt="">
</ion-slide>
  </ion-slides> 
  </div>-->
  <!--<ion-button class="btnLoging" expand="block"(click)="log()">Continuar<ion-icon name="log-in"></ion-icon></ion-button>-->
  </ion-content>
