
<ion-header >
    <ion-toolbar class="topMenu" >
        <ion-title>Bienvenidos</ion-title>
      </ion-toolbar>
</ion-header>
 
<ion-content class="" padding>
  <div class="logo">
        <img src="assets/img/ficohsa.png" alt="Logo del tribunal supreme de elecciones" > 
          
      </div>
      
      <ion-grid>
        <ion-row>
            <ion-col>
              <div>
               <p class="text1">Seleccione la opción de su visita</p>       
              </div>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div  (click)="login()">
              <ion-card>
              <img style="padding: 20px;" src="assets/img/t02.png"/>
                <ion-card-content>
                  <div class="card-title"> <strong> Solicitar Ficha</strong></div>
                 
                </ion-card-content>
              </ion-card>
             
            </div>
          </ion-col>
          <ion-col>
            <div (click)="mapsAgencies()">
              <ion-card>
                <img style="padding: 20px;" src="assets/img/map2.png"/>
                  <ion-card-content style="
                  text-align: center;">
                    <div class="card-title" style="
                    margin-top: -6px;"> <strong>Ver agencias</strong></div>
                   
                  </ion-card-content>
                </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
   <!--<ion-button class="btnLoging" expand="block" (click)="login()">Ingresar<ion-icon name="log-in"></ion-icon></ion-button>-->
</ion-content>
<!--<ion-footer class="">
  <ion-toolbar >
    <ion-title>Ficohsa-2020</ion-title>
  </ion-toolbar>
</ion-footer>-->