<ion-header >
  <ion-toolbar class="topMenu">
    <ion-title class="ion-title">Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
<ion-grid>
  <ion-row>
    <ion-col padding >
<p class="text">Los siguientes Términos y Condiciones, a los cuales se adhiere usted al dar clic en el botón
  “ACEPTAR”, servirán para regir el uso de la aplicación web “FICOTICKET” o el app
  “FICOTICKET”.
  <br>
  Por favor, lea detenidamente los mismos y si está de acuerdo, presione el botón ACEPTAR
  para comenzar a utilizarlos.</p>
  <br>
  <p class="text">
  <strong class="colorText"> PRIMERO:</strong> FICOTICKET es un aplicativo mediante el cual usted podrá solicitar un “ticket
  electrónico”, en la agencia de BANCO FICOHSA de su preferencia con el fin de que pueda
  iniciar la espera antes de llegar a dicha agencia. FICOTICKET no es un sistema de citas
  programadas, por lo que para poder solicitar un ticket, la agencia de su elección deberá
  encontrarse en servicio (día, hora y ubicación). Le recomendamos mantenerse actualizado
  con los comunicados que emita BANCO FICOHSA al respecto.</p> <br>
  <p class="text">
  <strong class="colorText"> SEGUNDO:</strong> Una vez aceptados estos Términos y Condiciones, usted deberá ingresar cierta
  información personal como, pero no limitada a: número de identidad y/o ubicación en
  tiempo real, con fines de control interno, y para proporcionarle la mejor atención tal y
  como caracteriza a BANCO FICOHSA. BANCO FICOHSA le garantiza que dicha información
  personal se mantendrá bajo absoluta confidencialidad de acuerdo a la normativa aplicable
  a la materia, emitida por la Comisión Nacional de Bancos y Seguros.</p>
  <br>
  <p class="text">
  <Strong class="colorText"> TERCERO:</Strong> FICOTICKET, una vez que haya emitido el ticket electrónico le notificará en el
  mismo dispositivo utilizado para generarlo, a medida que los tickets que precedan al suyo
  vayan siendo atendidos y evacuados. Esto no le garantiza una atención inmediata a su
  llegada a la agencia seleccionada, pues debido a que los tiempos de atención de los tickets
  predecesores pueden variar, podría tener que esperar un tiempo a su llegada a la agencia
  seleccionada. En el caso de la aplicación web, podría ser necesario que usted mantenga el
  navegador abierto y en sesión, y en algunos casos que usted autorice la recepción de
  avisos para recibir las notificaciones. La recepción de esta notificación está sujeta a que el
  dispositivo utilizado para generar el ticket, pueda efectivamente recibirlos, y de que usted
  porte consigo dicho dispositivo. Si su dispositivo no puede recibir notificaciones de este
  tipo y/o no lo puede portar consigo, le recomendamos que utilice otro dispositivo, o se
  traslade directamente a la agencia de su preferencia para obtener un ticket físico.</p> <br>
  <p class="text">
 <Strong class="colorText"> CUARTO:</Strong> En caso que llegue el momento de atender el ticket electrónico que FICOTICKET
  le emita, y usted no se encuentre en la agencia seleccionada, deberá solicitar un nuevo
  ticket puesto que no es posible regresar un ticket vencido a la línea de espera. Le
  recomendamos tomar las previsiones del caso en cuanto a tiempos y rutas de movilización
  para prevenir este escenario.</p>
<br>
<p class="text">
 <Strong class="colorText"> QUINTO:</Strong> Usted podría recibir ofertas de ciertos productos financieros a través del
  aplicativo FICOTICKET. Estas ofertas son ilustrativas y no implican forzosamente su
  otorgamiento por parte de BANCO FICOHSA, pues los mismos están sujetos a procesos
  internos del BANCO previo a su formalización, en todo caso, tampoco significa que usted
  ha adquirido dichos productos por haber recibido la oferta o por ingresar a la misma para
  obtener más información. La formalización de productos con BANCO FICOHSA implica
  forzosamente la firma de un contrato o la aceptación expresa de su parte. Si
  necesita más información, puede contactarnos en nuestras agencias o call center de
  BANCO FICOHSA.</p>
    </ion-col>
    
  </ion-row>
  <ion-row>
  <ion-col> <ion-button (click)="login()" expand="block" class="btnLoging">Aceptar</ion-button> </ion-col>
</ion-row>
</ion-grid>
</ion-content>
