<ion-header>
    <ion-toolbar class="topMenu">
       
      <ion-title>
        <div class="logo">
          <img src="assets/img/logosummit.png" alt="Logo de la compañia">
    
        </div> 
      </ion-title>
  
    </ion-toolbar>
  </ion-header>

<ion-content padding>

<h2>Tickets</h2>
  <div class="imagenIcon">
    <img src="assets/img/like.png" alt="Icono de Like" > 
      
  </div>

  <ion-list>
<p class="text1"><strong class="colorF">Gracias por utilizar el servicio de Summit Tickets</strong></p>

<p class="text1">Ha sido un placer atenderte</p>  
</ion-list>

  <br> <br>
<ion-button class="btnLoging" expand="block" (click)="finalScreen()">Ok</ion-button>
</ion-content>
