<ion-header>
    <ion-toolbar class="topMenu">
       
      <ion-title>
        <div class="logo">
          <img src="assets/img/fb.png" alt="Logo del banco de ficohsa">
    
        </div> 
      </ion-title>
  
    </ion-toolbar>
  </ion-header>

<ion-content padding>

<h2>FICOTICKET</h2>
  <div class="imagenIcon">
    <img src="assets/img/like.png" alt="Logo del banco de ficohsa" > 
      
  </div>

  <ion-list>
<p class="text1"><strong class="colorF">Gracias por utilizar el servicio de Ficoticket</strong><br> Ha sido un placer atender</p>
  </ion-list>

  <br> <br>
<ion-button class="btnLoging" expand="block" (click)="finalScreen()">Ok</ion-button>
</ion-content>
