.topMenu{
    --background: #125eab;
    --color: #fff;
    text-align: right;
}

.center{
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
}

.text{
    font-size: 20px;
}

.btnServices{
    margin-top: 1%;
    --background: #125eab;
}
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
  .text1{
    text-align: center;
    font-size: 19px;
    margin-bottom: -10px;
}