<ion-header>
  <ion-toolbar class="topMenu">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Summit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card-content>
  <ion-title class="header-title">Crear Tiquete</ion-title>
<br>
  <ion-list >
    <ion-item>
      <ion-label>Oficina</ion-label>
          <ion-select placeholder="Selecione la oficina"  *ngFor="let ofi of offices">
            <ion-select-option value="01">  {{ofi.name}}</ion-select-option>
           
            
          </ion-select>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>Servicios</ion-label>
          <ion-select  placeholder="Seleccione servicio"  *ngFor="let ts of ticketServices">
            <ion-select-option value="01">{{ts.name}}</ion-select-option>
            
        
          </ion-select>

    </ion-item>
    <br>

    <ion-item>
      <ion-label>Plataforma</ion-label>
          <ion-select value="03" placeholder="Seleccione Plataforma">
            <ion-select-option value="01">Plataforma 1</ion-select-option>
            <ion-select-option value="02">Plataforma 2</ion-select-option>
            <ion-select-option value="03">Plataforma 3</ion-select-option>
            
          </ion-select>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>Cajas</ion-label>
          <ion-select value="03">
            <ion-select-option value="01">Caja 1</ion-select-option>
            <ion-select-option value="02">Caja 2</ion-select-option>
            <ion-select-option value="03">Caja 3</ion-select-option>
            
          </ion-select>

    </ion-item>
    <br>
   
    

  </ion-list>
  <div padding>
    <ion-button class="btnLoging" expand="block"  (click)="go()" >Confirmar</ion-button>

  </div>

</ion-card-content>
</ion-content>