<ion-header>
  <ion-toolbar class="topMenu">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Summit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card-content>
  <ion-title class="header-title">Crear Tiquete</ion-title>
<br>
  <ion-list >
    <ion-item>
      <ion-label>Agencia</ion-label>
          <ion-select placeholder="Selecione la oficina" #C (ionChange)="GenerateServices(C.value)">
            <ion-select-option *ngFor="let ofi of offices" [value]="ofi.id">{{ofi.name}}</ion-select-option>
           
            
          </ion-select>

    </ion-item>

    <br>
    <ion-item>
      <ion-label>Tipo de cliente</ion-label>
          <ion-select placeholder="Seleccione el tipo de cliente">
            <ion-select-option value="01">Cliente frecuente</ion-select-option>
            <ion-select-option value="02">Cliente natural</ion-select-option>
            <ion-select-option value="03">Cliente asociado</ion-select-option>
            
          </ion-select>

    </ion-item>
    <br>

    <ion-item>
      <ion-label>Área de visita</ion-label>
          <ion-select placeholder="Seleccione Plataforma">
            <ion-select-option value="01">Caja</ion-select-option>
            <ion-select-option value="02">Servicios</ion-select-option>
            <ion-select-option value="03">Negocios</ion-select-option>
            
          </ion-select>

    </ion-item>
    <br>
    <ion-item>
      <ion-label>Servicios</ion-label>
          <ion-select  placeholder="Seleccione servicio" #S (ionChange)="getSelectedServiceId(S.value)">
            <ion-select-option *ngFor="let ts of ticketServices" [value]="ts.id">{{ts.name}}</ion-select-option>
            
        
          </ion-select>

    </ion-item>
    <br>
   
    

  </ion-list>
  <div padding>
    <ion-button class="btnLoging" expand="block"  (click)="go()">Crear tiquete</ion-button>

  </div>

</ion-card-content>
</ion-content>